
// Variables
//
// Variables should follow the '$component-state-property-size' formula


// Site max width
$site-max-width: 1520px;

// Gutters
$mobile-gutter: 20px;
$tablet-gutter: 40px;
$desktop-gutter: 50px;

// Colours
$color-smoke:      #f8f8f8;
$color-hitachi:    #a3a3a3;
$color-battleship: #6c757d;
$color-slate:      #343a40;
$color-primary:    #00c1de;

// Transitions
$default-transition-style: ease-out;
$default-transition-duration: 0.2s;

// Media query breakpoints
$mq-breakpoints: (
    ti: 321px,  // Tiny
    xs: 448px,  // Extra small
    sm: 576px,  // Small
    md: 768px,  // Medium
    ml: 1024px, // Medium large
    lg: 1200px, // Large
    xl: 1400px  // Extra large
);

// Z-index values
$z-index: (
    below: -1,
    above: 1
);
